.home
  = image_tag 'logo.png'
  %h1 Snowball
  %h2 The friend film.
  = link_to image_tag('download-ios.png'), 'http://bit.ly/snblapp'
  = link_to image_tag('pdhmy.png', class: 'nohunt'), 'http://www.tapir.me/prey'
