// Variables

$snowball-color-blue: #8fecff;
$snowball-color-orange: #f5a623;
$snowball-color-green: #7ed321;
$snowball-color-pink: #ff2ba6;
$snowball-color-gray: #ececec;
$snowball-color-light-gray: #fcfcfc;


// Mixins

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

// Styles

body {
  background-color: white;
  color: white;
  margin-bottom: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#left-column {
  text-align: center;
  position: fixed;
  width: 50%;
  height: 100%;
  background-color: $snowball-color-blue;
  background-image: image-url('video.gif');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#right-column {
  position: absolute;
  margin-left: 50%;
  width: 50%;
  height: 100%;
}

#intro {
  @include vertical-align;
}

#logo {
  margin-bottom: 8px;
}

#intro h1 {
  font-size: 3em;
  margin: 0.4em 0 0 0;
}

#intro h2 {
  font-size: 1.5em;
  margin: 0.55em 0 0 0;
  letter-spacing: 0.05em;
}

#download {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px; /* TODO: make em? */
  margin-left: auto;
  margin-right: auto;
}

.cell {
  height: 600px; /* TODO: make em? */
  padding: 55px 80px 0 80px; /* TODO: make em? */
  border-bottom: 1px solid $snowball-color-gray;
  position: relative;
}

.cell h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  margin: 0;
}

.cell .app-screen img {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

#disclaimer img {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20px;
}

#cell-one {
  background: $snowball-color-blue;
}

#cell-one .welcome {
  margin-top: 1.5em;
}

#cell-two {
  color: $snowball-color-blue;
}

#cell-three {
  color: $snowball-color-orange;
  background-color: $snowball-color-light-gray;
}

#cell-four {
  color: $snowball-color-green;
}

#cell-five {
  color: $snowball-color-pink;
  background-color: $snowball-color-light-gray;
}

#legal {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: black;
}

#footer {
  text-align: center;
  background-color: white;
  height: 60px; /* TODO: make em? */
  line-height: 60px; /* TODO: make em? */
  width: 100%;
  color: $snowball-color-blue;
}

#footer li {
  display: inline;
  margin-right: 2em;
}
