// Variables

$snowball-color-main: #4bd91c;

// Mixins

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

// Styles

body {
  background-color: $snowball-color-main;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#left-column {
  position: fixed;
  width: 50%;
  height: 100%;
}

#right-column {
  position: absolute;
  margin-left: 50%;
  width: 50%;
  height: 100%;
}

#intro {
  @include vertical-align;
}

#logo {
  margin-bottom: 8px;
}

#intro h1 {
  font-size: 2.75em;
  line-height: 1.091em;
  margin: 0;
}

#intro h2 {
  font-size: 1.875em;
  line-height: 1.2em;
  margin: 0;
}

.download {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  height: 500px;
}

#cell-one {
  background: #5fceea;
}

#cell-two {
  background: #1840b2;
}

#cell-three {
  background: #ff4f4f;
}

#cell-four {
  background: #34c9a4;
}

#cell-five {
  background: #662aea;
}

#legal {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#footer {
  background-color: white;
  height: 60px;
  line-height: 60px;
  width: 100%;
  color: $snowball-color-main;
}

#footer li {
  display: inline;
  margin-right: 2em;
}
